#HomePage {
  .floor-list {
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 4px;
    .floor {
      padding: 4px;
      width: 50%;
      //&:nth-of-type(2n) {
      //  padding-right: 0;
      //}
      .floor-content {
        flex-flow: column wrap;
        justify-content: center;
        background: $EL_BG_COLOR;
        width: 100%;
        padding: 10px 10px 30px 10px;
        border: 1px solid $BORDER_COLOR;
        border-radius: $BORDER_RADIOS;
        cursor: pointer;
        transition: $TRANSITION_ALL;
        box-shadow: 1px 1px 0 0 #DDDDDD;
        &:hover {
          border-color: #666666;
        }
        .floor-title {
          justify-content: center;
          font-size: 1.2em;
          border-bottom: 1px solid #DDDDDD;
          padding-bottom: 10px;
        }
        .description {
          padding-top: 10px;
        }
      }
    }
  }
}


