#HomePage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-flow: column wrap;
  nav {
    background: #66CCFF;
    justify-content: center;
  }
  .nav-ul {
    width: $MAX_WIDTH;
    flex-flow: row wrap;
    justify-content: space-between;
    .nav-ul-li {
      cursor: pointer;
      font-size: 14px;
      padding: 16px 20px;
      color: #FFFFFF;
      justify-content: center;
      &:hover {
        background: #77DDFF;
      }
    }
  }
}


