#HomePage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-flow: column wrap;
  nav {
    background: #66CCFF;
    background-image: linear-gradient(to right, #88EEFF, #66CCFF);
    justify-content: center;
    .nav-ul {
      width: $MAX_WIDTH;
      flex-flow: row wrap;
      justify-content: space-between;
      .nav-ul-li {
        cursor: pointer;
        font-size: 1.2em;
        padding: 16px 20px;
        color: #FFFFFF;
        justify-content: center;
        &:hover {
          background: #77DDFF;
        }
      }
    }
  }
  .floor-list {
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 5px;
    .floor {
      padding-right: 5px;
      padding-bottom: 5px;
      width: 50%;
      &:nth-of-type(2n) {
        padding-right: 0;
      }
      .floor-content {
        flex-flow: column wrap;
        justify-content: center;
        background: $EL_BG_COLOR;
        width: 100%;
        padding: 10px 10px 30px 10px;
        border: 1px solid $BORDER_COLOR;
        border-radius: $BORDER_RADIOS;
        cursor: pointer;
        transition: $TRANSITION_ALL;
        box-shadow: 1px 1px 0 0 #DDDDDD;
        &:hover {
          border-color: #66CCFF;
        }
        .floor-title {
          justify-content: center;
          font-size: 1.2em;
          border-bottom: 1px solid #DDDDDD;
          padding-bottom: 10px;
        }
        .description {
          padding-top: 10px;
        }
      }
    }
  }

}


