#Login {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  .login {
    border-radius: $BORDER_RADIOS;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .title {
      width: 100%;
      font-size: 16px;
      justify-content: center;
      flex-direction: row;
      padding: 20px 0;
      border-bottom: 1px solid #DDDDDD;
      letter-spacing: 1em;
    }
    .content {
      padding: 20px 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
