<div class="image-upload">
    <label for="addImage">Add Image</label>
    <input id="addImage" multiple="multiple" data-type="uploadFile" data-upload-limit="200" data-upload-type="image" data-thumb="#thumb" class="hide" type="file">
    <div id="thumb"></div>
</div>
<script>
    ImageUpload.init();
</script>
