<div class="image-upload">
    <label class="btn btn-uploader" for="addImage">
        <i class="icon i-upload"></i>选择图片
    </label>
    <input id="addImage" multiple="multiple" data-type="uploadFile" data-upload-limit="1024" data-upload-type="image" data-thumb="#thumb" class="hide" type="file">
    <div id="thumb"></div>
</div>
<script>
    ImageUpload.init();
</script>
