<div id="player" class="player">
    <div class="player-box">
        <div class="player-lrc">
            <span>After Altale</span>
            <span>Sakuzyo</span>
        </div>
        <div class="player-control">
            <div class="player-prev control-btn">
                <i class="icon i-prev"></i>
            </div>
            <div class="player-play control-btn">
                <i class="icon i-play"></i>
            </div>
            <div class="player-next control-btn">
                <i class="icon i-next"></i>
            </div>
            <div class="player-mode control-btn">
                <i class="icon i-random"></i>
            </div>
            <div class="player-progress">
                <div class="player-progress-box">
                    <div class="player-progress-inner"></div>
                    <div class="player-progress-btn"></div>
                </div>
            </div>
            <div class="player-volume">
                <div class="player-volume-box">
                    <div class="player-volume-inner"></div>
                    <div class="player-volume-btn"></div>
                </div>
            </div>

        </div>
        <div class="playlist">

        </div>
    </div>
    <audio id="audio" src="/audio/0001.mp3" autoplay loop>
        Sorry your bower doesn't support audio!!!
    </audio>
</div>
<script>
    MusicPlayer.init('/resource/playlist',$('#audio'),$('#player'));
</script>