<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
</head>
<body>
<div id="body" class="body">
    <nav id="nav" class="nav">
        <div class="logo">
            L
        </div>
    </nav>
    <div id="page" class="page">
        <div class="notice sight-warning">
            <div class="notice-message">
                This is a message
            </div>
            <div class="notice-control">
                <i class="icon i-wrong"></i>
            </div>
        </div>
    </div>
</div>
<div id="win" class="win">
    <div class="start-menu">
        <a class="menu-item" data-widget-href="music" data-widget-name="Music" data-widget-id="musicWidget"
           data-type="shortcut">
            <i class="icon i-music"></i>
        </a>
        <a class="menu-item" data-widget-href="game" data-widget-name="Game" data-widget-id="gameWidget"
           data-type="shortcut">
            <i class="icon i-game"></i>
        </a>
        <a class="menu-item" data-widget-href="image" data-widget-name="Image upload" data-widget-id="imageUploadWidget"
           data-type="shortcut">
            <i class="icon i-upload-cloud"></i>
        </a>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/tools.js"></script>
<script src="/js/widget.js"></script>

<script>
    $(function () {
        var action = {
            start: function () {
                $('.logo').off('click').on('click', function () {
                    $('#win').addClass('active').find('.start-menu').addClass('active');
                });
                window.setTimeout(function () {
                    var css = $("<link rel='stylesheet' href='/css/index.css'/>" +
                            "<link rel='stylesheet' href='/css/iconfont.css'>");
                    $('head').append(css);
                }, 0);
                $('#win').off('click').on('click', function () {
                    var _self = $(this);
                    $(this).find('.start-menu').removeClass('active');
                    window.setTimeout(function () {
                        _self.removeClass('active');
                    }, 300);
                });
                WidgetModule.init();
            }
        }
        action.start();
    });
</script>
<script>

</script>
</body>
</html>
