
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1463970587'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1463970587#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1463970587') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1463970587') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1463970587#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.i-home:before { content: "\e600"; }
.i-user:before { content: "\e601"; }
.i-clock:before { content: "\e602"; }
.i-cart:before { content: "\e603"; }
.i-msg:before { content: "\e604"; }
.i-msg-new:before { content: "\e605"; }
.i-customer-service:before { content: "\e606"; }
.i-shop:before { content: "\e607"; }
.i-scan:before { content: "\e608"; }
.i-logistics:before { content: "\e609"; }
.i-pay:before { content: "\e60a"; }
.i-search:before { content: "\e60b"; }
.i-help:before { content: "\e60c"; }
.i-pencil:before { content: "\e60d"; }
.i-setting:before { content: "\e60e"; }
.i-after-sales:before { content: "\e60f"; }
.i-delete:before { content: "\e610"; }
.i-star:before { content: "\e611"; }
.i-heart:before { content: "\e612"; }
.i-search-o:before { content: "\e613"; }
.i-share:before { content: "\e614"; }
.i-sight:before { content: "\e615"; }
.i-gps:before { content: "\e616"; }
.i-code:before { content: "\e617"; }
.i-switch:before { content: "\e618"; }
.i-mobile:before { content: "\e619"; }
.i-keyboard:before { content: "\e61a"; }
.i-mouse:before { content: "\e61c"; }
.i-game:before { content: "\e61d"; }
.i-pc:before { content: "\e61e"; }
.i-notepad:before { content: "\e61f"; }
.i-magnetic-tape:before { content: "\e620"; }
.i-print:before { content: "\e621"; }
.i-usb:before { content: "\e622"; }
.i-send:before { content: "\e623"; }
.i-book:before { content: "\e624"; }
.i-mail:before { content: "\e625"; }
.i-pwd:before { content: "\e626"; }
.i-save:before { content: "\e627"; }
.i-folder:before { content: "\e628"; }
.i-camera:before { content: "\e629"; }
.i-file:before { content: "\e62a"; }
.i-video:before { content: "\e62b"; }
.i-picture:before { content: "\e62c"; }
.i-music:before { content: "\e62d"; }
.i-water:before { content: "\e62e"; }
.i-temperature:before { content: "\e62f"; }
.i-sun:before { content: "\e630"; }
.i-moon:before { content: "\e631"; }
.i-lighting:before { content: "\e632"; }
.i-tree:before { content: "\e633"; }
.i-cloud:before { content: "\e634"; }
.i-talk:before { content: "\e635"; }
.i-date:before { content: "\e636"; }
.i-safe:before { content: "\e637"; }
.i-pilot:before { content: "\e638"; }
.i-eye:before { content: "\e639"; }
.i-key:before { content: "\e63a"; }
.i-timer:before { content: "\e63b"; }
.i-alarm:before { content: "\e63c"; }
.i-thumbtack:before { content: "\e63d"; }
.i-socket:before { content: "\e63e"; }
.i-bulb:before { content: "\e63f"; }
.i-bag:before { content: "\e640"; }
.i-tag:before { content: "\e641"; }
.i-microphone:before { content: "\e642"; }
.i-briefcase:before { content: "\e643"; }
.i-sound:before { content: "\e644"; }
.i-pie:before { content: "\e645"; }
.i-alert:before { content: "\e646"; }
.i-card:before { content: "\e647"; }
.i-cd:before { content: "\e649"; }
.i-diamond:before { content: "\e64a"; }
.i-no-name:before { content: "\e64b"; }
.i-socket-o:before { content: "\e64c"; }
.i-plug:before { content: "\e64d"; }
.i-arrow:before { content: "\e64e"; }
.i-champion:before { content: "\e64f"; }
.i-wine:before { content: "\e650"; }
.i-chemistry:before { content: "\e651"; }
.i-monster:before { content: "\e652"; }
.i-coffee:before { content: "\e653"; }
.i-ice-cream:before { content: "\e654"; }
.i-basketball:before { content: "\e655"; }
.i-tennis:before { content: "\e656"; }
.i-cpu:before { content: "\e657"; }
.i-washing-machine:before { content: "\e658"; }
.i-roadblock:before { content: "\e659"; }
.i-hate:before { content: "\e65a"; }
.i-battery:before { content: "\e65b"; }
.i-share-o:before { content: "\e65c"; }
.i-badge:before { content: "\e65d"; }
.i-blue-tooth:before { content: "\e65e"; }
.i-link:before { content: "\e65f"; }
.i-upload:before { content: "\e660"; }
.i-down-load:before { content: "\e661"; }
.i-wifi:before { content: "\e662"; }
.i-upload-cloud:before { content: "\e663"; }
.i-download-cloud:before { content: "\e664"; }
.i-like:before { content: "\e665"; }
.i-torch:before { content: "\e666"; }
.i-signal:before { content: "\e667"; }
.i-play:before { content: "\e668"; }
.i-group:before { content: "\e669"; }
.i-category:before { content: "\e66a"; }
.i-category-o:before { content: "\e66b"; }
.i-category-x:before { content: "\e66c"; }
.i-category-i:before { content: "\e66d"; }
.i-prev:before { content: "\e66e"; }
.i-order:before { content: "\e66f"; }
.i-random:before { content: "\e670"; }
.i-next:before { content: "\e672"; }
.i-album:before { content: "\e673"; }
.i-equalizer:before { content: "\e674"; }
.i-pause:before { content: "\e675"; }
.i-photo:before { content: "\e676"; }
.i-category-e:before { content: "\e677"; }
.i-category-r:before { content: "\e678"; }
.i-category-t:before { content: "\e679"; }
.i-back:before { content: "\e67a"; }
.i-wrong:before { content: "\e67b"; }
.i-add:before { content: "\e67c"; }
.i-yes:before { content: "\e67d"; }

