.cssload-container * {
    color: rgb(0,0,0);
    font-size: 33px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.cssload-container {
    position: absolute;
    width: 117px;
    height: 49px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cssload-container > div {
    position: absolute;
    transform-origin: center;
}
.cssload-l {
    left: 8px;
}
.cssload-i {
    left: 58px;
}
.cssload-n {
    left: 70px;
}
.cssload-g {
    left: 97px;
}
.cssload-square,
.cssload-circle,
.cssload-triangle {
    left: 29px;
}
.cssload-square {
    background: rgb(117,179,209);
    width: 23px;
    height: 23px;
    left: 31px;
    top: 12px;
    transform: scale(0);
    animation: cssload-shrinkgrow 3.45s ease-in-out infinite;
    animation-delay: 2.3s;
}
.cssload-circle {
    background: rgb(129,212,125);
    width: 26px;
    height: 26px;
    top: 10px;
    left: 29px;
    border-radius: 50%;
    animation: cssload-shrinkgrow 3.45s ease-in-out infinite;
    animation-delay: 0s;
}
.cssload-triangle {
    width: 0;
    height: 0;
    left: 29px;
    top: 11px;
    border-style: solid;
    border-width: 0 14.5px 24.1px 14.5px;
    border-color: transparent transparent rgb(210,121,140) transparent;
    transform: scale(0);
    animation: cssload-shrinkgrow 3.45s ease-in-out infinite;
    animation-delay: 1.15s;
}


@keyframes cssload-shrinkgrow {
    0% {
        transform: scale(0);
    }
    12.5% {
        transform: scale(1);
    }
    25% {
        transform: scale(1);
    }
    33% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}