body {
    color: #fff;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    background: transparent no-repeat;
    background-size: auto auto;
    transition: all .3s;
    position: relative;
}

a {
    color: #fff;
    transition: color .3s;
}

a:hover {
}

.nav {
    width: 60px;
    height: 100%;
    position: fixed;
    z-index: 100;
    background: #66ccff;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(102, 204, 255, .7);
}

.nav .logo {
    z-index: 120;
}

.nav .logo-text{
    color: #ffffff;
    background: transparent;
    font-size: 48px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: color .3s, background .3s;
}

.nav .logo:hover .logo-text {
    color: #66ccff;
    background: #ffffff;
}

.nav .fold-menu {
    position: absolute;
    top: -60px;
    left: 60px;
    height: 60px;
    transition: all .3s;
    font-size: 14px;
    overflow: hidden;
    width: 180px;
    color: #ffffff;
    background: #66ccff;
    z-index: 110;
}

.nav .logo:hover .fold-menu {
    top: 0;
    border-radius: 0 0 4px 0;
}

.nav .logo:hover .fold-menu .menu-item {
}

.nav .fold-menu .menu-item {
    float: left;
    width: 60px;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    text-align: center;
    transition: all .3s;
    padding-left: 5px;
}

.nav .fold-menu .menu-item:hover {
    color: #66ccff;
    background: #ffffff;
    padding-left: 0;
}

.nav .foot-menu {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
}

.nav .foot-menu .menu-item {
    height: 0;
    cursor: pointer;
    line-height: 36px;
    text-align: center;
    width: 60px;
    transition: all .3s;
    position: relative;
}

.nav .foot-menu:hover .menu-item {
    height: 36px;
}

.nav .foot-menu .menu-item:hover {
    color: #66ccff;
    background: #ffffff;
}

.nav .foot-menu .menu-item .fold-text {
    position: absolute;
    top: 0;
    left: 60px;
    transition: all .3s;
    font-size: 14px;
    width: 180px;
    color: #66ccff;
    background: transparent;
    z-index: 110;
    opacity: 0;
    padding-left: 20px;
    text-align: left;
}

.nav .foot-menu .menu-item:hover .fold-text {
    opacity: 1;
    padding-left: 5px;
}

.page {
    width: 100%;
    height: 100%;
    position: fixed;
    padding-left: 80px;
}

.page .home-cake{
    width: 400px;
    margin: 60px auto;
    position: relative;
    height: 400px;
}

.page .home-cake .cake {
    padding: 10px;
    width: 50%;
    transition: all .3s;
    position: absolute;
}

.page .home-cake .cake .berry{
    width: 180px;
    height: 180px;
    padding: 20px;
    border: 5px solid #ffffff;
    box-shadow: 0 0 5px rgba(102, 204, 255, .7);
    cursor: pointer;
    transition: all .3s;
}

.page .home-cake .cake:first-child {
    top:0;
    left: 0;
}

.page .home-cake .cake:nth-of-type(2) {
    top:0;
    right: 0;
}

.page .home-cake .cake:nth-of-type(3) {
    left: 0;
    bottom: 0;
}

.page .home-cake .cake:nth-of-type(4) {
    right: 0;
    bottom: 0;
}

.page .home-cake .cake:first-child .berry {
    border-radius: 0 32px 0 32px;
}

.page .home-cake .cake:nth-of-type(2) .berry{
    border-radius: 32px 0 32px 0;
}

.page .home-cake .cake:nth-of-type(3) .berry{
    border-radius: 32px 0 32px 0;
}

.page .home-cake .cake:nth-of-type(4) .berry{
    border-radius: 0 32px 0 32px;
}

.page .home-cake .cake:first-child:hover {
    padding: 0 20px 20px 0;
}

.page .home-cake .cake:nth-of-type(2):hover {
    padding: 0 0 20px 20px;
}

.page .home-cake .cake:nth-of-type(3):hover {
    padding: 20px 20px 0 0;
}

.page .home-cake .cake:nth-of-type(4):hover {
    padding: 20px 0 0 20px;
}