.route-progress {
  width: 0;
  position: fixed;
  height: 2px;
  z-index: $UPPER_MOST;
  background: $BG_COLOR;
  opacity: 1;
  transition: all 1s ease;
  border-radius: 1px;
  &.hang {
    width: 60%;
  }
  &.end {
    width: 100%;
  }
  &.over {
    width: 100%;
    opacity: 0;
  }
  &.start{
    width: 0;
  }
}
