.route-progress {
  width: 0;
  position: fixed;
  height: 2px;
  z-index: $UPPER_MOST;
  background: #FF9900;
  opacity: 1;
  transition: $TRANSITION_ALL;
  &.hang {
    width: 70%;
  }
  &.end {
    width: 99%;
  }
  &.over {
    opacity: 0;
  }
}
