//FONTS
$FONT_COLOR: #666666;
$FONT_SIZE: 12px;
$FONT_FAMILY: "Microsoft YaHei", Consolas, Tahoma, serif, sans-serif;

//BG
$BG_COLOR: #F5F5F5;
$EL_BG_COLOR: #FFFFFF;

//CONTENT
$MAX_WIDTH: 1200px;
$MIN_WIDTH: 1200px;
$MAIN_DISPLAY: flex;

//SCENE
$SUCCESS_COLOR: #00CC66;
$WARNING_COLOR: #FF3300;
$INFO_COLOR: #66CCFF;
$DANGER_COLOR: #FF0033;
$DISABLE_COLOR: #AAAAAA;
$ANTI_FOCUS: #DDDDDD;

//BORDER
$BORDER_WIDTH: 0;
$BORDER_COLOR: transparent;
$BORDER_RADIOS: 4px;

//SHADOW

//TRANSITION
$TRANSITION_ALL: all .3s;

//Z-INDEX
$UPPER_MOST: 100;
$UPPER: 50;
$UNDER: 25;
$UNDER_MOST: 10;

//GRADIENT
@mixin LINE_GRADIENT() {

}
