* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $FONT_FAMILY;
  font-size: $FONT_SIZE;
  color: $FONT_COLOR;
  background: $BG_COLOR;
  display: $MAIN_DISPLAY;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

a, div, section, nav, span, p, ul, li {
  display: $MAIN_DISPLAY;
}

.hide {
  display: none;
}

.show {
  display: $MAIN_DISPLAY;
}

.hide-important {
  display: none !important;
}

.show-important {
  display: $MAIN_DISPLAY !important;
}

