<!DOCTYPE html>
<html>
<head>
    <title>Resource</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
</head>
<body>
<form action="resource/song" method="post" enctype="multipart/form-data">
    <label>name:<input type="text" name="name"></label>
    <br>
    <label>author:<input type="text" name="author"></label>
    <br>
    <label>src:<input type="file" name="src"></label>
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>
