*
  box-sizing border-box

body
  font:12px 'Open Sans','sans-serif'
  padding 0
  margin 0

ul,ol
  padding 0
  margin 0

a
  text-decoration none
  cursor pointer

.hide
  display none !important

.onDrag
  cursor move !important

.resize
  display block
  position absolute
  right 0
  bottom 0
  cursor se-resize
  width 10px
  height 10px
  border-right 3px solid #6699cc
  border-bottom  3px solid #6699cc